// --------------------
// Cores primárias
// --------------------
$color-primary-black: #0a0a0a; // Preto para dar enfase no nome
$color-primary-white: #ffffff; // Branco apra realçar

// --------------------
// Cores secundárias / highlights
// --------------------
$color-accent-orange: #eb6b21; // Alerta positivo, conquistas
$color-accent-blue: #3368d4; // Crescimento positivo, metas atingidas
$color-accent-red: #eb3636; // Gastos, alertas de limite

// --------------------
// Neutros / fundos
// --------------------
$color-background-light: #ffffff; // Fundo geral
$color-background-card: #ededed; // Fundo de cards ou seções
